@import "./variables";
/* Header / Menu / Swiper / Sections / Rooms */

/* Réinitialisation de base */
* {
  
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  background-color: $colorbackground;
  color: $colortextdarkgrey;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;  
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%);
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: $colortextblack;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-links .lang {
  font-size: 16px;
  color: $colortextblack;
  text-decoration: none;
}

.header-links .reserve-button {
  background-color: $colorbrown;
  color: $colorbackground;
  padding: 8px 16px;
  font-size: 1em;
  border: 1px solid $colorbackground;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
/* --- MENU LATÉRAL --- */
.menu-toggle{
  background: none;
  border: none;
}
.menu {  
  position: fixed;
  top: 0;
  right: -100%;
  width: 60vw;
  height: 100%;
  transition: right 0.4s ease;  
  display: flex;
  flex-direction: column;
  z-index:10;
}
.menu.active {
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);  
}

.menu-brown-band{  
  background-color: $colorbrown;
  display: flex;
}

.menu-close {
  color: $colorbackground;
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  //transform: translateY(-18px);
}

.menu-white{
  background-color: rgba(255, 255, 255, 0.9);
}

.menu ul {
  list-style: none;
  margin-top:40px;
}

.menu li {
  margin-bottom: 30px;
}

.menu a {
  text-decoration: none;
  color: $colortextdarkgrey;
  font-size: 1.5em;
}

.menu-contact {
  padding-left: 40px;
  padding-bottom: 40px;
  color: $colortextdarkgrey;
  margin-top: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;

}
/* --- TEXTE AU-DESSUS DU SLIDER --- */
.intro-text {
  text-align: center;
  margin: 140px auto 20px;
  font-family: 'Nunito Sans', serif;  
}

.intro-text strong {
  color: #b59d78;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
}

.intro-text p {
  font-size: 1.5em;
}

/* --- SLIDER --- */
.slider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.swiper {
  width: 90%;
  max-width: 1200px;
  height: 600px;          /* MODIFIER EN RESPONSIVE */
  margin: 0 auto;
}



.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

// /* --- BOUTONS DE NAVIGATION  Swiper --- */

 

/* Boutons de navigation personnalisés */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ''; /* Supprime le texte par défaut (prev, next) */
}


.swiper-button-prev::before,
.swiper-button-next::before {
  content: '<'; /* Définit "<" pour le bouton précédent */
  font-size: 20px;
  font-family: 'Arial', sans-serif;  
}

.swiper-button-next::before {
  content: '>'; /* Définit ">" pour le bouton suivant */
}

/* Ajout d'un style pour les boutons (optionnel,) */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.6); /* Fond semi-transparent */  
  width: 40px;
  // height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b59d78; /* Couleur des flèches */
  font-size: 20px; /* Taille des flèches */
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre discrète */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #b59d78; /* Fond doré sur hover */
  opacity: 0.6;
  color: #fff; /* Flèches blanches sur hover */
  transition: all 0.3s ease-in-out;
}


/* --- SECTION MAIN--- */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background: white;
  padding: 20px 30px;
  max-width: 400px;
  margin-left: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  font-weight: 400;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 20px;
  & i{
    font-size: 1.5em;    
  }
}
.icon p {
  font-size: 0.7em;
  margin-left: 10px;
  font-style: italic;
}

.icon span {
  font-size: 20px;
  margin-right: 10px;
}
.subtitle {
  font-size: 1em;
  color: $colorbrown;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 15px;
}

/* multi - icones */
.column-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
  & i {
    margin-left: 10px;
    color: $colorbrown;
  }
  & p {
    margin-left: 10px;
    font-size: 0.7em;
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.know-more-button {
  font-family: 'Nunito Sans', serif;
  margin: 10px auto;
  background-color: $colorbackground;
  color: $colorbrown;
  padding: 8px 20px;
  font-size: 1em;
  border: 2px solid $colorbrown;
  text-decoration: none;
  cursor: pointer;
}

/*             -----   rooms  -----   */

.flex-room{
  margin-top: 30px;
  display: flex;
  flex-direction: row; 
}
.room-swiper{
background-color: aqua;
width: 70%;


}
.room-right{

}

#swiper-rooms {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}


@import "./responsive";