@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Header / Menu / Swiper / Sections / Rooms  / offres */

/* Réinitialisation de base */
* {  
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Nunito Sans', serif;
  font-weight: 400;
  background-color: $colorbackground;
  color: $colortextdarkgrey;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.header.hidden {
  transform: translateY(-100%);
}

.header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: $colortextblack;
  text-shadow: 0px 0px 1px white;
  & a {
    font-family: 'Roboto', serif;
  font-size: 24px;
  font-weight: bold;
  color: $colortextblack;
  text-shadow: 0px 0px 1px white;
  }
}

.menu-toggle {
  font-size: 1.1em;
  color: $colortextblack;
  text-shadow: 0px 0px 1px white;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-links .lang {
  font-size: 16px;
  color: $colortextblack;
  text-decoration: none;
}

.header-links .reserve-button {
  background-color: $colorbrown;
  color: $colorbackground;
  padding: 8px 16px;
  font-size: 1em;
  border: 1px solid $colorbackground;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
/* --- MENU LATÉRAL --- */
.menu-toggle{
  background: none;
  border: none;
}
.menu {  
  position: fixed;
  top: 0;
  right: -100%;
  width: 60vw;
  height: 100%;
  transition: right 0.4s ease;  
  display: flex;
  flex-direction: column;
  z-index:10;
}
.menu.active {
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);  
}

.menu-brown-band{  
  background-color: $colorbrown;
  display: flex;
}

.menu-close {
  color: $colorbackground;
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  //transform: translateY(-18px);
}

.menu-white{
  background-color: rgba(255, 255, 255, 0.9);
}

.menu ul {
  list-style: none;
  margin-top:40px;
}

.menu li {
  margin-bottom: 30px;
}

.menu a {
  text-decoration: none;
  color: $colortextdarkgrey;
  font-size: 1.5em;
}

.menu-contact {
  padding-left: 40px;
  padding-bottom: 40px;
  color: $colortextdarkgrey;
  margin-top: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;

}
/* --- TEXTE AU-DESSUS DU SLIDER --- */
.intro-text {
  text-align: center;
  margin: 140px auto 20px;
  font-family: 'Nunito Sans', serif;  
}

.intro-text strong {
  color: #b59d78;
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
}

.intro-text p {
  font-size: 1.5em;
}

/* --- SLIDER --- */
.slider {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.swiper {
  width: 90%;
  max-width: 1200px;
  height: 600px;          /* MODIFIER EN RESPONSIVE */
  margin: 0 auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

// /* --- BOUTONS DE NAVIGATION  Swiper --- */


/* Boutons de navigation personnalisés */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: ''; /* Supprime le texte par défaut (prev, next) */
}


.swiper-button-prev::before,
.swiper-button-next::before {
  content: '<'; /* Définit "<" pour le bouton précédent */
  font-size: 20px;
  font-family: 'Arial', sans-serif;  
}

.swiper-button-next::before {
  content: '>'; /* Définit ">" pour le bouton suivant */
}

/* Ajout d'un style pour les boutons (optionnel,) */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.6); /* Fond semi-transparent */  
  width: 40px;
  // height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b59d78; /* Couleur des flèches */
  font-size: 20px; /* Taille des flèches */
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre discrète */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #b59d78; /* Fond doré sur hover */
  opacity: 0.6;
  color: #fff; /* Flèches blanches sur hover */
  transition: all 0.3s ease-in-out;
}


/* --- SECTION MAIN--- */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 720px; /* patch pour écran horizontal*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  background: white;
  padding: 20px 30px;
  max-width: 400px;
  margin-left: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  font-weight: 400;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 20px;
  & i{
    font-size: 1.5em;    
  }
}
.icon p {
  font-size: 0.7em;
  margin-left: 10px;
  font-style: italic;
}

.icon span {
  font-size: 20px;
  margin-right: 10px;
}
.subtitle {
  font-size: 1em;
  color: $colorbrown;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  margin-bottom: 15px;
}

/* multi - icones */
.column-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  display: flex;
  align-items: center;
  & i {
    margin-left: 10px;
    color: $colorbrown;
  }
  & p {
    margin-left: 10px;
    font-size: 0.7em;
  }
}

.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.flex-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.know-more-button {
  font-family: 'Nunito Sans', serif;
  margin: 10px auto;
  background-color: $colorbackground;
  color: $colorbrown;
  padding: 8px 20px;
  font-size: 1em;
  border: 2px solid $colorbrown;
  text-decoration: none;
  cursor: pointer;
}
/*           ------ localiser --------- */
.loca-container {
  margin: 0 auto;
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
}

.loca-container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/galery/04 Bella View Poum.webp");
  background-size: cover;
  opacity: 0.5;
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.loca-card{
  margin-top: 40px;
  max-width: 600px;  
  & img{
    max-width: 550px;
    width: auto;
  }
  & h2, & h3{
    text-align: center;
    color: black;
    margin: 0;
    text-shadow: 0px 0px 1px white;
  }
}

.back-white{
  background-color: white;
  padding: 10px;
  max-height: 600px;
}

.subtitle-loca{
  font-size: 1.5em;
  color: $colorbrown;
  margin-bottom: 20px;
}

#logo-rejoice {
  width: 150px;
  margin: 5px auto;
  display: block;
  box-shadow: 2px 2px 5px grey;
}
/*      ----  Contact   -----   */
.contact-container {
  margin: 0 auto;
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: space-around;
  
  gap: 2rem;
  padding: 2rem;
}

.contact-card{
  margin: 100px auto 10px auto;
  width: 90%;
  min-width: 500px;
  padding: 30px;
  max-width: 600px;
  background-color: rgb(255, 255, 255, 0.6);
  
  & h2, & h3{
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-size: 5em;
    font-style: normal;
    text-align: center;
    color: black;
  }
  & p{
    font-size: 1.5em;
    text-align: center;
    color: black;
  }
  & button{
    margin: 20px auto;
    display: block;
  }
  & a:link, & a:visited{
    color: $colortextblack;
  }
}

.contact-container:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 800px;
  background-image: url("../img/river.webp");
  background-size: cover;  
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

/*             -----   rooms  -----   */
#maison, #maison-room {      //trouver une solution
  margin-top: -10px;
}
.flex-room{
  margin-top: 300px;
  display: flex;
  flex-direction: row; 
}
.room-swiper{
  width: 70%;
}
#slider-rooms, #slider-rooms2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
#swiper-rooms, #swiper-rooms2 {
  height: 600px;          /* MODIFIER EN RESPONSIVE */  
}

.mainroomright {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- SECTION OFFRES --- */
.reserve-btn {
  background-color: #C5B391;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#h1-offres {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: lighter;
  margin: 2rem 0;
  color: $colortextblack;
}

.axes-container {
  margin: 0 auto;
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
}

.axes-container:before {
  content: "";  
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Salon/miroir.webp");
  background-size: cover;
  opacity: 0.5;
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;  
}
.axe-card {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;  
}

.axe-title {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.axe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.axe-description {
  padding: 1rem;
  flex-grow: 1;
}

.axe-footer {
  font-style: italic;
  color: $colorbrown;
  padding: 1rem;
}

.info-section {
  text-align: center;
  padding: 0;
  background-color: #f5f5f5;
}

.info-button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid $colorbrown;
  color: $colorbrown;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 0;
  background-color: $colorbackground
}
.calendrier{
  margin : 20px auto;  
  display: flex;
  flex-direction: column;
  & h2{
    text-align: center;
    color: $colorbrown;
  }
}
#iframe-calendar{
  margin: 10px auto;
  border: 0;
  width :100%;
  height:600px;  
}

@import "./responsive";